.fade-slide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-slide.show {
    opacity: 1;
    transform: translateY(0);
}

.nav-link.active {
    border-bottom: 2px solid #2563eb;
    color: #2563eb;
}

.dot {
    animation: blink 1.5s infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {

    0%,
    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}